.cart {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  transform: translateX(100%);
  background-color: white;
  color: white;
  transition: 0.3s;

  nav {
    position: sticky;
    font-family: abeja;

    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: #fff;
    color: gray;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 13px 0 rgb(230, 230, 230);
  }

  &__info {
    width: 100%;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(179, 179, 179);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    overflow: hidden;
    position: relative;
    display: flex;
    color: #252525;
    border-bottom: 1px solid rgb(236, 236, 236);
    width: 100%;
    margin: 11px 0;
    padding: 18px 10px;
    &:nth-last-child(1) {
      border: none;
    }

    &--inner {
      display: flex;
      align-items: center;
      transition: 0.2s;
    }
    &--details {
      margin-left: 10px;
      span {
        font-size: 15px;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        color: rgb(107, 107, 107);
      }
    }
    &--img {
      max-width: 110px;
      min-width: 110px;
      height: 100px;
      border-radius: 15px;
      object-fit: cover;
    }

    &--price {
      color: #4fa2dd;
      span {
        font-size: 12px;
        color: rgb(107, 107, 107);
      }
    }
    &--delete {
      position: absolute;
      right: 0;
      top: 50%;
      transition: 0.2s;
      transform: translateY(-50%);
      width: 0;
      height: 75%;
      background-color: #ed5e68;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      &--filter {
        opacity: 0;
        right: 0;
        top: 50%;
        transition: 0.2s;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        height: 75%;
        background-color: rgba(0, 0, 0, 0.048);
      }
    }
  }

  &__footer {
    font-size: 13px;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    border-top: 1px dashed rgb(190, 190, 190);
    color: black;
    &--item {
      color: gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
    }
  }
}

.opened {
  transform: translateX(0);
}

.selected {
  .cart__item--inner {
    transform: translateX(-120px);
  }

  .cart__item--delete {
    width: 140px;
    &--filter {
      opacity: 1;
    }
  }
}
