.cart {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  transform: translateX(100%);
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  user-select: none;
  &__container {
    svg {
      color: #4fa2dd;
    }
  }
  nav {
    position: sticky;
    font-family: abeja;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    background-color: #fff;
    color: #708090;

    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 13px 0 rgb(230, 230, 230);
  }

  .break {
    width: 100%;
    height: 10px;
  }
  &__info {
    width: 100%;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(179, 179, 179);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    position: relative;
    display: flex;
    width: 90%;
    padding: 15px 8px;

    margin: 20px auto;
    overflow: hidden;
    color: #252525;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.068);
    border-radius: 15px;
    transition: 0.2s;

    &:nth-last-child(1) {
      border: none;
    }

    &--inner {
      display: flex;
      align-items: center;
      transition: 0.2s;
    }
    &--details {
      margin-left: 15px;
      width: 100%;
      span {
        font-size: 15px;
        font-weight: 500;
      }
      p {
        margin: 8px 0;
        font-size: 13px;
        color: rgb(116, 116, 116);
        width: 90%;
      }
    }
    &--img {
      max-width: 120px;
      min-width: 120px;
      height: 110px;
      border-radius: 15px;
      object-fit: cover;
      @media screen and (max-width: 330px) {
        max-width: 110px;
        min-width: 110px;
        height: 100px;
      }
    }

    &--price {
      color: #4fa2dd;
      span {
        font-size: 12px;
        color: rgb(107, 107, 107);
      }
    }
    &--delete {
      position: absolute;
      right: 0;
      top: 50%;
      transition: 0.2s;

      transform: translateY(-50%);
      width: 0;
      height: 75%;
      background-color: #ed5e68;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      &--filter {
        opacity: 0;
        right: 0;
        top: 50%;
        transition: 0.2s;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        height: 75%;
        background-color: rgba(0, 0, 0, 0.048);
      }
    }
  }
}
.opened {
  transform: translateX(0);
}

.home {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;

  &__container {
    display: flex;
    align-items: center;
  }
  img {
    width: 200px;
    filter: drop-shadow(0px 0 5px rgb(202, 202, 202));
  }
  p {
    color: gray;
    margin: 0px 0 25px 0;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
    background: #56ccf2;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
    background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
    background: linear-gradient(to right, #2f80ed, #56ccf2);
  }
}
