.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 0 20px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 1px 13px 0 rgb(230, 230, 230);
  &__logo {
    font-family: abeja;
    color: rgb(107, 107, 107);
    z-index: 200;
  }
  &__cart {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    svg {
      color: rgb(158, 158, 158);
      margin: 0px;
    }
    i {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 10px;
      top: 5px;
      background-color: #5cb6f8;
      color: white;
      width: 15px;
      height: 15px;
      font-size: 11px;
      border-radius: 50%;
    }
  }
}
