.menu__titles {
  padding: 20px 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.menu__titles small {
  margin-top: 8px;
  white-space: nowrap;
}

.menu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(58, 58, 58);
  text-align: center;

  margin: 0 15px;
}
.menu__title--img {
  height: 100px;
  width: 160px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 15px 1px rgba(78, 78, 78, 0.055);
}
