.menu__list {
  width: 100%;
  margin: 0px 0 50px 0;
  &--title {
    padding: 0 21px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(71, 71, 71);
  }
}

.menu__list--item {
  position: relative;
  overflow-x: hidden;
  color: rgb(80, 80, 80);
  width: 93%;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 15px 10px;
  margin: 10px auto;
}

.menu__list--top {
  display: flex;
  justify-content: space-between;
}
.menu__list--img {
  flex: 1;
  min-width: 110px;
  height: 85px;
  border-radius: 15px;
  object-fit: cover;
}
.menu__list--name {
  font-size: 15px;
  font-weight: 500;
}
.menu__list--top--left {
  flex: 2;
}
.menu__list--desc {
  font-size: 14px;
  color: rgb(107, 107, 107);
  margin: 7px 0;
  padding-right: 7px;
}
.menu__list--bottom {
  margin-top: 10px;
  color: rgb(107, 107, 107);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__list--price {
  color: #4fa2dd;
}
.menu__list-duration {
  display: flex;
  align-items: center;
  margin-right: 5px;
  color: rgb(107, 107, 107);
}

.menu__list-duration svg {
  margin-right: 8px;
  color: rgb(158, 158, 158);
}

.menu__list--footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
