.menu__list {
  width: 100%;
  margin: 20px 0 50px 0;
  .break {
    height: 230px;
  }
  &--empty {
    width: 100%;
    height: 100%;
  }
  &--title {
    font-family: abeja;
    font-size: 18px;
    padding: 0 21px;
    font-weight: 500;
    color: rgb(107, 107, 107);
  }
  &--item {
    position: relative;
    overflow-x: hidden;
    color: rgb(80, 80, 80);
    width: 93%;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 15px 10px;
    margin: 10px auto;
  }
  &--top {
    display: flex;
    justify-content: space-between;
    &--left {
      flex: 2;
    }
  }
  &--img {
    flex: 1;
    min-width: 110px;
    height: 85px;
    border-radius: 15px;
    object-fit: cover;
  }
  &--name {
    font-size: 15px;
    font-weight: 500;
  }
  &--desc {
    font-size: 14px;
    color: rgb(107, 107, 107);
    margin: 7px 0;
    padding-right: 7px;
  }
  &--bottom {
    margin-top: 10px;
    color: rgb(107, 107, 107);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--price {
    color: #4fa2dd;
  }
  &-duration {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: rgb(107, 107, 107);
    svg {
      margin-right: 8px;
      color: rgb(158, 158, 158);
    }
  }
  &--footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}

// INFO
.info {
  overflow: hidden;
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: rgb(0, 0, 0);
  transition: 0.3s;

  &__filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    transition: 0.2s;
  }
  &__container {
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    min-height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 30px 30px 0 0;
    @media screen and (max-width: 340px) {
      height: 74vh;
    }
  }

  &__opened {
    body {
      overflow-y: hidden;
    }
  }
  &__closed {
    transform: translateY(100%);
  }
  &__inner {
    height: 100%;
    padding: 5px 20px;
  }
  &__top {
    display: flex;
  }
  &__details {
    span {
      font-size: 18px;
      font-weight: 500;
      @media screen and (max-width: 340px) {
        font-size: 16px;
      }
    }
    p {
      width: fit-content;
      font-size: 15px;
      word-break: break-all;
      color: rgb(107, 107, 107);
      hyphens: auto;
      margin: 7px 0;
      padding-right: 7px;
      @media screen and (max-width: 340px) {
        font-size: 14px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(107, 107, 107);
    font-size: 16px;
    margin: 10px 0 0 0;
    @media screen and (max-width: 340px) {
      margin: 3px 0 0 0;
      font-size: 15px;
    }
  }
  &__price {
    color: #4fa2dd;
  }
  &__duration {
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }

  &__img {
    width: 100%;
    height: 220px;
    border-radius: 25px 25px 0 0;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
    border-radius: 30px 30px 0 0;
    @media screen and (max-width: 340px) {
      height: 170px;
    }
  }

  &__btn {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 15px 0;

    font-size: 14px;
    @media screen and (max-width: 340px) {
      padding: 13px 0;
    }
    &--add {
      margin: 30px 0;
      background: #56ccf2;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
      background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
      background: linear-gradient(to right, #2f80ed, #56ccf2);

      color: #fff;
      @media screen and (max-width: 340px) {
        margin: 22px 0;
      }
    }
    &--delete {
      margin: 30px 0;
      background: #56ccf2;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
      background: #f00000; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #dc281e,
        #f00000
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #dc281e,
        #f00000
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: #fff;
      @media screen and (max-width: 340px) {
        margin: 22px 0;
      }
    }
  }
}
