.menu__list {
  width: 100%;
  margin: 20px 0 50px 0;
  overflow-x: hidden;
  .break {
    height: 230px;
  }
  &--empty {
    width: 100%;
    height: 100%;
  }
  &--title {
    font-family: abeja;
    font-size: 18px;
    padding: 0 21px;
    font-weight: 500;
    color: #708090;
  }
  &--item {
    box-shadow: 0 0 13px 0 rgba(41, 41, 41, 0.096);

    border-radius: 15px;
    position: relative;
    overflow-x: hidden;
    color: rgb(80, 80, 80);
    width: 90%;
    padding: 15px 8px;
    margin: 20px auto;

    background: #fff;
    @media screen and (max-width: 330px) {
      width: 95%;
    }
  }
  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      color: #2f80ed;
    }
    &--left {
      flex: 2;
    }
  }
  &--img {
    flex: 1;
    max-width: 120px;
    min-width: 120px;
    height: 110px;

    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
    @media screen and (max-width: 330px) {
      max-width: 110px;
      min-width: 110px;
      height: 100px;
    }
  }
  &--name {
    font-size: 15px;
    font-weight: 500;
  }
  &--desc {
    font-size: 14px;
    word-break: break-all;
    width: 90%;
    color: #8d8d8d;
    margin: 7px 0;
    padding-right: 7px;
    height: 50px;
    @media screen and (max-width: 330px) {
      height: 40px;
    }
  }
  &--bottom {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--price {
    color: #4fa2dd;
  }
  &-duration {
    display: flex;
    align-items: center;
    color: #8d8d8d;

    font-size: 14px;
    svg {
      width: 19px;
      height: 19px;
      margin-right: 3px;
      color: #4fa2dd;
    }
  }
  &--footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
