.menu__titles {
  z-index: 5;
  padding: 20px 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-top: 70px;
  background-color: #fff;
  transition: 0.2s;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  small {
    font-size: 12px;
    color: gray;
    margin-top: 9px;
    white-space: nowrap;
  }
  &--normal {
    .menu__title--img {
      height: 100px;
    }
  }
  &--fixed {
    height: 70px;
    padding-top: 20px;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;

    margin-top: 55px;
    color: #ffff;
    box-shadow: 0 1px 13px 0 rgb(230, 230, 230);

    .menu__title--img {
      display: none;
    }
    .menu__title {
      margin: 0 10px;
      height: 0;
      padding: 15px 10px 20px 10px;
      border-radius: 20px;
      &--selected {
        background-color: rgb(231, 231, 231);

        small {
          color: #4fa2dd;
        }
      }
    }
  }
}

.menu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(58, 58, 58);
  text-align: center;
  margin: 0 15px;

  &--selected {
    div {
      transition: 0.2s;
      transform: scale(1.1);
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.082);
    }
    small {
      color: #4fa2dd;
    }
  }
  &--img {
    height: 100px;
    width: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 15px 1px rgba(78, 78, 78, 0.055);
  }
}
