.menu__titles {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 5;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  margin-top: 70px;

  user-select: none;
  small {
    font-size: 12px;
    color: gray;
    margin-top: 9px;
    white-space: nowrap;
  }
  &--normal {
    .menu__title--img {
      height: 100px;
    }
  }
  &--fixed {
    height: 70px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    margin-top: 55px;
    color: #ffff;
    box-shadow: 0 1px 13px 0 rgb(230, 230, 230);
    background-color: #fff;
    .menu__title--img {
      display: none;
    }
    .menu__title--bg {
      display: none;
    }
    .menu__title {
      margin: 0 10px;
      height: 0;
      padding: 15px 10px 20px 10px;
      border-radius: 20px;

      &--selected {
        background-color: rgb(231, 231, 231);
        box-shadow: none;
        small {
          color: #4fa2dd;
        }
      }
    }
  }
}

.menu__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #708090;
  text-align: center;
  margin: 0 3px;
  z-index: 10;
  padding: 10px;
  &--selected {
    position: relative;
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.068);
    padding: 10px;
    border-radius: 20px;

    small {
      color: #4fa2dd;
    }
  }
  &--img {
    position: relative;
    height: 100px;
    width: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: 0.2s;
    z-index: 4;
  }
}
