@font-face {
  font-family: abeja;
  src: url("../Fonts/Sansation_Bold.ttf");
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: visible;
  overflow-x: hidden;
}

img {
  display: block;
}

.hidden {
  display: none;
}

@-webkit-keyframes fadeInLayout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLayout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-box-shadow: 0 1px 13px 0 #e6e6e6;
          box-shadow: 0 1px 13px 0 #e6e6e6;
}

.header__fixed {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__logo {
  font-family: abeja;
  color: #708090;
  z-index: 200;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #708090;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  margin-right: -20px;
  z-index: 3;
}

.header__input .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 100%;
}

.header__input input {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0;
  outline: none;
  width: 30px;
  height: 100%;
  margin-right: -38px;
  z-index: 2;
  color: gray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.header .opened {
  opacity: 1;
  width: 90%;
  margin: 0;
  height: 30px;
}

.header__cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.header__cart--inner {
  position: relative;
}

.header__cart svg {
  color: #708090;
}

.header__cart i {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -11px;
  top: -11px;
  background-color: #5cb6f8;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 11px;
  border-radius: 50%;
}

.menu__list {
  width: 100%;
  margin: 20px 0 50px 0;
  overflow-x: hidden;
}

.menu__list--empty {
  width: 100%;
  height: 100%;
}

.menu__list--title {
  font-family: abeja;
  font-size: 18px;
  padding: 0 21px;
  font-weight: 500;
  color: #708090;
}

.menu__list--item {
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.116);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.116);
  border-radius: 15px;
  position: relative;
  overflow-x: hidden;
  color: #505050;
  width: 90%;
  padding: 15px 8px;
  margin: 20px auto;
  background: #fff;
}

@media screen and (max-width: 330px) {
  .menu__list--item {
    width: 95%;
  }
}

.menu__list--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list--top svg {
  color: #2f80ed;
}

.menu__list--top--left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.menu__list--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 120px;
  min-width: 120px;
  height: 110px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

@media screen and (max-width: 330px) {
  .menu__list--img {
    max-width: 110px;
    min-width: 110px;
    height: 100px;
  }
}

.menu__list--name {
  font-size: 15px;
  font-weight: 500;
}

.menu__list--desc {
  font-size: 14px;
  word-break: break-all;
  width: 90%;
  color: #8d8d8d;
  margin: 7px 0;
  padding-right: 7px;
  height: 50px;
}

@media screen and (max-width: 330px) {
  .menu__list--desc {
    height: 40px;
  }
}

.menu__list--bottom {
  margin-top: 10px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list--price {
  color: #4fa2dd;
}

.menu__list-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8d8d8d;
  font-size: 14px;
}

.menu__list-duration svg {
  width: 19px;
  height: 19px;
  margin-right: 3px;
  color: #4fa2dd;
}

.menu__list--footer {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__titles {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  margin-top: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__titles small {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
  white-space: nowrap;
}

.menu__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #708090;
  text-align: center;
  margin: 0 5px;
  z-index: 9;
  padding: 10px;
}

.menu__title--selected {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.116);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.116);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.menu__title--selected small {
  color: #4fa2dd;
}

.menu__title--img {
  position: relative;
  height: 100px;
  width: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.menu__fixed {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: n;
      -ms-flex-pack: n;
          justify-content: n;
  background-color: #fff;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 13px 0 #e6e6e6;
          box-shadow: 0 1px 13px 0 #e6e6e6;
  line-height: 0.5;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__fixed small {
  color: #707070;
  padding: 20px;
  font-size: 12px;
  white-space: nowrap;
}

.menu__fixed--selected {
  position: relative;
  background-color: #e6e6e6;
  padding: 14px 10px !important;
  border-radius: 20px;
  color: #4fa2dd !important;
}

.cart {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart__container svg {
  color: #4fa2dd;
}

.cart nav {
  position: -webkit-sticky;
  position: sticky;
  font-family: abeja;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #708090;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 13px 0 #e6e6e6;
          box-shadow: 0 1px 13px 0 #e6e6e6;
}

.cart .break {
  width: 100%;
  height: 10px;
}

.cart__info {
  width: 100%;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b3b3b3;
}

.cart__info img {
  width: 100%;
  height: 100%;
}

.cart__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 15px 8px;
  margin: 20px auto;
  overflow: hidden;
  color: #252525;
  background-color: #fff;
  -webkit-box-shadow: 0 0 13px 0 rgba(41, 41, 41, 0.096);
          box-shadow: 0 0 13px 0 rgba(41, 41, 41, 0.096);
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart__item:nth-last-child(1) {
  border: none;
}

.cart__item--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart__item--details {
  margin-left: 15px;
  width: 100%;
}

.cart__item--details span {
  font-size: 15px;
  font-weight: 500;
}

.cart__item--details p {
  margin: 8px 0;
  font-size: 13px;
  color: #8d8d8d;
  width: 90%;
  height: 50px;
}

@media screen and (max-width: 330px) {
  .cart__item--details p {
    height: 40px;
  }
}

.cart__item--img {
  max-width: 120px;
  min-width: 120px;
  height: 110px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 330px) {
  .cart__item--img {
    max-width: 110px;
    min-width: 110px;
    height: 100px;
  }
}

.cart__item--price {
  color: #4fa2dd;
}

.cart__item--price span {
  font-size: 12px;
  color: #6b6b6b;
}

.cart__item--delete {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 75%;
  background-color: #ed5e68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.cart__item--delete--filter {
  opacity: 0;
  right: 0;
  top: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.048);
}

.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.home {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  text-align: center;
  background-size: 100%;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home img {
  width: 200px;
  -webkit-filter: drop-shadow(0px 0 5px #cacaca);
          filter: drop-shadow(0px 0 5px #cacaca);
}

.home p {
  color: gray;
  margin: 0px 0 25px 0;
  line-height: 1.5;
}

.home a {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 20px;
  background: #56ccf2;
  -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
  background: -webkit-gradient(linear, left top, right top, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to right, #2f80ed, #56ccf2);
}

.footer {
  position: fixed;
  z-index: 1;
  font-size: 16px;
  font-family: abeja;
  background-color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  text-align: center;
  color: #959595;
}

.notfound {
  height: 100%;
  padding: 0 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1000;
}

.notfound img {
  width: 100%;
}

.notfound h1 {
  font-family: abeja;
  color: #4b8dd3;
}

.notfound p {
  margin: 20px 0 30px 0;
  color: gray;
}

.notfound a {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 20px;
  background: #56ccf2;
  -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
  background: -webkit-gradient(linear, left top, right top, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to right, #2f80ed, #56ccf2);
}

.intro {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-size: 100%;
  background: #fff;
  z-index: 2006;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.intro::after {
  content: "";
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: 150%;
  opacity: 0.22;
  -webkit-animation: fadeInAfter 1s forwards;
          animation: fadeInAfter 1s forwards;
}

.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 80px;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

.intro.fadeOut {
  -webkit-transform: scale(5);
          transform: scale(5);
  opacity: 0;
}

.intro img {
  width: 200px;
  -webkit-filter: drop-shadow(0px 0 5px #cacaca);
          filter: drop-shadow(0px 0 5px #cacaca);
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

.intro button {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 18px 50px;
  color: #fff;
  border-radius: 13px;
  background: #56ccf2;
  -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
  background: -webkit-gradient(linear, left top, right top, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  margin: 10px 15px;
}

.intro__link {
  text-decoration: none;
  padding: 7px 20px;
  color: #fff;
  border-radius: 13px;
  background: #56ccf2;
  -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
  background: -webkit-gradient(linear, left top, right top, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  margin: 20px 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInAfter {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.22;
  }
}

@keyframes fadeInAfter {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.22;
  }
}

.info {
  overflow: hidden;
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.info__wrapper {
  width: 100%;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-height: auto;
  background-color: white;
  border-radius: 30px 30px 0 0;
}

@media screen and (max-width: 340px) {
  .info__container {
    height: 74vh;
  }
}

.info__opened body {
  overflow-y: hidden;
}

.info__closed {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.info__inner {
  height: 100%;
  padding: 5px 20px;
}

.info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__details span {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 340px) {
  .info__details span {
    font-size: 16px;
  }
}

.info__details p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  word-break: break-all;
  color: #727272;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: 7px 0;
  padding-right: 7px;
}

@media screen and (max-width: 340px) {
  .info__details p {
    font-size: 14px;
  }
}

.info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6b6b6b;
  font-size: 16px;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 340px) {
  .info__bottom {
    margin: 3px 0 0 0;
    font-size: 15px;
  }
}

.info__price {
  color: #4fa2dd;
}

.info__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4fa2dd;
}

.info__duration svg {
  margin-right: 10px;
}

.info__img {
  width: 100%;
  height: 220px;
  border-radius: 25px 25px 0 0;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
  border-radius: 30px 30px 0 0;
}

@media screen and (max-width: 340px) {
  .info__img {
    height: 170px;
  }
}

.info__btn {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 14px;
}

@media screen and (max-width: 340px) {
  .info__btn {
    padding: 13px 0;
  }
}

.info__btn--add {
  margin: 30px 0;
  background: #56ccf2;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: #fff;
}

@media screen and (max-width: 340px) {
  .info__btn--add {
    margin: 22px 0;
  }
}

.info__btn--delete {
  margin: 30px 0;
  background: #56ccf2;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
  background: #f00000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#dc281e), to(#f00000));
  background: linear-gradient(to right, #dc281e, #f00000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

@media screen and (max-width: 340px) {
  .info__btn--delete {
    margin: 22px 0;
  }
}

.cart__popup {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  padding: 40px 20px;
  background-color: white;
  border-radius: 10px;
  border-top: 10px solid #4fa2dd;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.144);
          box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.144);
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cart__popup h3 {
  padding: 5px 0;
  color: #575757;
}

.cart__popup svg {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  background-color: #4fa2dd;
  border-radius: 50%;
  padding: 10px;
}

.cart__popup--opened {
  opacity: 1;
  z-index: 17;
}

.cart__popup--opened .cart__popup--filter {
  display: block;
}

.cart__popup--filter {
  opacity: 0;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
}

.cart__popup--filter--opened {
  opacity: 1;
  z-index: 16;
}

.cart__popup--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__popup--btns button {
  color: #525252;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px 0;
  width: 100%;
  margin: 20px 10px 0 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(39, 39, 39, 0.109);
          box-shadow: 0 0 10px 0 rgba(39, 39, 39, 0.109);
}

.cart__popup--btns--clear {
  background-color: #4fa2dd !important;
  border: none !important;
  color: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/*# sourceMappingURL=style.css.map */