@font-face {
  font-family: abeja;
  src: url("../Fonts/Sansation_Bold.ttf");
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-box-shadow: 0 1px 13px 0 #e6e6e6;
          box-shadow: 0 1px 13px 0 #e6e6e6;
}

.header__logo {
  font-family: abeja;
  color: #6b6b6b;
  z-index: 200;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart svg {
  color: #9e9e9e;
  margin: 0 9px;
}

.header__cart i {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  top: 5px;
  background-color: #5cb6f8;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 11px;
  border-radius: 50%;
}

.menu__list {
  width: 100%;
  margin: 0px 0 50px 0;
}

.menu__list--title {
  padding: 0 21px;
  font-size: 20px;
  font-weight: 500;
  color: #474747;
}

.menu__list--item {
  position: relative;
  overflow-x: hidden;
  color: #505050;
  width: 93%;
  border-bottom: 1px solid #ececec;
  padding: 15px 10px;
  margin: 10px auto;
}

.menu__list--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 110px;
  height: 85px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__list--name {
  font-size: 15px;
  font-weight: 500;
}

.menu__list--top--left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.menu__list--desc {
  font-size: 14px;
  color: #6b6b6b;
  margin: 7px 0;
  padding-right: 7px;
}

.menu__list--bottom {
  margin-top: 10px;
  color: #6b6b6b;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list--price {
  color: #4fa2dd;
}

.menu__list-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  color: #6b6b6b;
}

.menu__list-duration svg {
  margin-right: 8px;
  color: #9e9e9e;
}

.menu__list--footer {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.info__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  min-height: auto;
  background-color: white;
  border-radius: 30px 30px 0 0;
}

.info__opened {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.info__opened body {
  overflow-y: hidden;
}

.info__closed {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.info__inner {
  height: 100%;
  padding: 5px 20px;
}

.info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__details span {
  font-size: 15px;
  font-weight: 500;
}

.info__details p {
  font-size: 14px;
  color: #6b6b6b;
  margin: 7px 0;
  padding-right: 7px;
}

.info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6b6b6b;
  font-size: 18px;
}

.info__price {
  color: #4fa2dd;
}

.info__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__duration svg {
  margin-right: 10px;
}

.info__img {
  width: 100%;
  height: 220px;
  border-radius: 25px 25px 0 0;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.068);
}

.info--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.info--btns span {
  font-size: 13px;
  color: gray;
  margin: 0 10px;
}

.info--btns button {
  background-color: #4fa2dd;
  color: #fff;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__btn {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 14px;
}

.info__btn--add {
  margin: 30px 0;
  background: #56ccf2;
  /* fallback for old browsers */
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  /* W3C, IE 10+djj/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.menu__titles {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.menu__titles small {
  font-size: 12px;
  color: gray;
  margin-top: 9px;
  white-space: nowrap;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3a3a3a;
  text-align: center;
  margin: 0 15px;
}

.menu__title--selected div {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.082);
}

.menu__title--selected small {
  color: #4fa2dd;
}

.menu__title--img {
  height: 100px;
  width: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 1px rgba(78, 78, 78, 0.055);
          box-shadow: 0 0 15px 1px rgba(78, 78, 78, 0.055);
}

.cart {
  position: fixed;
  z-index: 10;
  overflow-y: scroll;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: white;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart nav {
  font-family: abeja;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 10vh;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 13px 0 #e6e6e6;
          box-shadow: 0 1px 13px 0 #e6e6e6;
}

.cart__info {
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b3b3b3;
}

.cart__info img {
  width: 100%;
  height: 100%;
}

.cart__item {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #252525;
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin: 11px 0;
  padding: 18px 10px;
}

.cart__item:nth-last-child(1) {
  border: none;
}

.cart__item--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart__item--details {
  margin-left: 10px;
}

.cart__item--details span {
  font-size: 15px;
  font-weight: 500;
}

.cart__item--details p {
  font-size: 14px;
  color: #6b6b6b;
}

.cart__item--img {
  min-width: 110px;
  height: 100px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__item--price {
  color: #4fa2dd;
}

.cart__item--price span {
  font-size: 12px;
  color: #6b6b6b;
}

.cart__item--delete {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 75%;
  background-color: #ed5e68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.cart__item--delete--filter {
  opacity: 0;
  right: 0;
  top: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.048);
}

.cart__footer {
  font-size: 13px;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
  border-top: 1px dashed #bebebe;
  color: black;
}

.cart__footer--item {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.selected .cart__item--inner {
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
}

.selected .cart__item--delete {
  width: 130px;
}

.selected .cart__item--delete--filter {
  opacity: 1;
}

.footer {
  position: fixed;
  z-index: 1;
  font-size: 16px;
  font-family: abeja;
  background-color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  text-align: center;
  color: #959595;
}
/*# sourceMappingURL=style.css.map */